@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section>
        <h2>About Me</h2>
        <p>This system allows you to submit leave requests online and manage your leave effectively.</p>
    </section>

    <img align="left" src="~/images/approved-rejected-label-sticker-icon-260nw-753871123.webp" width="200" height="200">
    <img align="right" src="~/images/images.png" width="200" height="200">
    <section>
        <h2>Benefits of using our system:</h2>

        <li>Submit leave requests conveniently from anywhere, anytime.</li>
        <li>Streamline the leave approval process with automated workflows.</li>
        <li>Access your leave history and balances in real-time.</li>
        <li>Receive notifications about the status of your leave requests.</li>
        <li>Plan and manage your leave effectively with integrated calendars.</li>
        <br></br>
        <img align="center" src="~/images/flat-calendar-icon-on-wall-260nw-732721924.webp" width="150" height="150">
    </section>

</main>
