<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leave_system</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Leave_system.styles.css" asp-append-version="true" />
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>
<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="logo">LeaveMS</div>
        <nav>
            <a href="/">Home</a>
            <a href="/Home/About">About</a>
            <a href="/Home/Features">Features</a>
            <a href="/Home/Contact">Contact</a>
            <a href="/Home/Login" class="btn-login">Login</a>
            <a href="/Home/SignUp" class="btn-signup">Sign Up</a>
        </nav>
    </header>



    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2025 Leave Management System | All Rights Reserved</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
