<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leave_system</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Leave_system.styles.css" asp-append-version="true" />
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Welcome to the Leave Application System</h1>
  </header>

  <nav>
    <ul>
      <li><a href="Home/Login">Login</a></li>
      <li><a href="Home/about">About</a></li>
      <li><a href="Home/Contact">Contact</a></li>
      <li><a href="Home/SignUp">Sign Up</a></li>
    </ul>
  </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2023 My Homepage. All rights reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
